/* COLOURS */

/* TYPOGRAPHY */
$font-size: 19px;
$modular-scale-ratio: $golden;
$modular-scale-base: 1; //(12/strip-units($font-size));

$line-height: modular-scale(1);
$em-base: $font-size;

@font-face {
    font-family: "Queue Web";
    src: url("fonts/queueweb-book.eot");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Queue Web";
    src: url("fonts/queueweb-book.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Queue Web";
    src: url("fonts/queueweb-medium.eot");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Queue Web";
    src: url("fonts/queueweb-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

%font-queue-book {
  font-family: "Queue Web", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}
%font-queue-medium {
  font-family: "Queue Web", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* GRID */
$mq-base-font-size: $font-size !default;
$mq-breakpoints: (
  mobile:  760px,
  desktop: 1024px,
  wide: 1681px
);
